body {
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', Osaka, sans-serif;
    font-size: 13px;
    letter-spacing: 0.1px;
    color: #1f1910;

    background-color: #F5E9E9;
    background-image: url('./IMG/backgrounds/bg_HackertLandschaft.jpg');

    background-repeat: no-repeat;
    background-size: cover;

    background-color: rgb(192, 181, 172);
    background-blend-mode: soft-light;
}

a:link,
a:visited,
a:active,
a:hover {
    color: #775922;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 1px;
}

a:hover,
a:active {
    color: #966c1f;
    font-weight: bold;
    text-shadow: 0px 0px 4px white;

}

header,
semiHeader, menuLink {
    font-family: Times, Times, Times New Roman, serif;
    font-size: 40px;
    letter-spacing: 2px;

    font-weight: bold;
    text-transform: uppercase;
    font-style: italic;

    color: #966c1f;

    padding: 2px;
}

semiheader {
    margin-top: 50%;
    font-size: 25px;
    color: #5f7c9e;
}

menuLink {
    color: #a36e61;
    font-size: 15px;
    text-transform: lowercase;
}

/*                 CUSTOM SCROLLBAR                 */
div::-webkit-scrollbar {
    width: 5px;
    background-color: #b9a786;
}

div::-webkit-scrollbar-thumb {
    background-color: #775922;
    padding: 5%;
}

/*                 END OF CUSTOM SCROLLBAR                 */


.containAll {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding-right: 50px;
    display: grid;
    place-items: center;
}


.itemContainer {
    position: relative;
    width: 1300px;
    height: 610px;
}


.papercontainer {
    background-image: url('./IMG/indexpics/paper1.png');
    background-repeat: no-repeat;

    width: 260px;
    height: 600px;

    margin: auto;
    position: absolute;

    right: 0%;
    z-index: 0;
}

.cardcontainer {
    background-image: url('./IMG/indexpics/bg1.png');
    background-repeat: no-repeat;

    width: 900px;
    height: 610px;

    margin: auto;
    position: absolute;

    right: 14%;
    z-index: 1;
}

/*                 BEGINNING OF PAPER IMAGES & POSITIONABLE ITEMS                  */
.listDisplay {
    position: absolute;
    display: flex;
    flex-direction: column;

    top: 5%;
    right: 6%;
    width: 180px;
    height: 550px;

    padding: 15px;
    justify-content: center;
}

.listItem {
    margin: 5px;
    padding: 5px;
    display: inline-block;
    font-style: italic;
}

.listItemPic{
    display: inline-block;
}

.listTextLink {
    display: inline-block;
    margin-left: 5px;
    text-align: center;
}

/*                 BEGINNING OF PAPER IMAGES & POSITIONABLE ITEMS                  */

/*                 BEGINNING OF CARDCONTAINER IMAGES & POSITIONABLE ITEMS                  */

.portrait_img {
    position: absolute;
    z-index: 2;

    top: 23%;
    left: 18%;

    height: 330px;
    width: 180px;

    background-image: url('./IMG/indexpics/vhd1.jpg');
    background-size: 300px;
    background-position: center;

    background-color: rgba(192, 181, 172, 0.5);
    background-blend-mode: soft-light;
}

.frame {
    position: absolute;
    z-index: 3;
    top: 19%;
    left: 15%;
}

.rightAccessories {
    position: absolute;
    z-index: 1;

    right: 0;
    top: -5%;
}


.accessories {
    position: absolute;
    z-index: 4;

    bottom: -5%;
    left: -5%;
}

.fairy {
    position: absolute;
    z-index: 4;

    top: -18%;
    right: -2%;
}

.fairy2 {
    position: absolute;
    z-index: 4;

    top: 50%;
    left: -7%;
}

.rockinghorse {
    position: absolute;
    z-index: 5;

    top: -10%;
    right: 5%;
}

.counter {
    position: absolute;
    z-index: 5;
    top: -10%;
}

.textbox {
    position: absolute;
    z-index: 5;
    overflow-y: scroll;
    overflow-x: hidden;

    height: 300px;
    width: 350px;
    padding: 10px;

    top: 25%;
    right: 15%;

}

/*                 END OF ALL  CARDCONTAINER IMAGES & POSITIONABLE ITEMS                 */