

main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    overflow-x: hidden;
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', Osaka, sans-serif;
    /* 画面全体のフォント指定 */
    font-size: 14px;
    letter-spacing: 1px;
    color: #775922;

    background-color: #F5E9E9;
    background-image: url('../../IMG/backgrounds/bg_Denis_van_Alsloot1.jpg');
    background-color: rgb(79, 74, 74);
    background-blend-mode: soft-light;


    /* Background Image */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: auto;

    /* position: absolute; THIS THING WAS CAUSING ME 4 HOURS OF GRIEF. 
    I WONDERED WHY MY PAGE WOULDNT CENTER. ITS BECAUSE OF THIS */
}

a:link, a:visited, a:active, a:hover {
    color: #b9a786;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 1px;
}

a:hover, a:active {
    color: #966c1f;
    font-weight: bold;
    font-style: italic;
}

#navbar{
    position:absolute;
    top:0;
    right:0;
}

#mainCol {
    margin-top: 10%;
    margin-bottom: 10%;
}

/* CUSTOM SCROLLBAR */
div::-webkit-scrollbar {
    width: 5px;
    background-color: #b9a786;
}

div::-webkit-scrollbar-thumb {
    background-color: #775922;
    padding: 5%;
}

/* container for all content */
.container {
    display: flex;
    flex-direction: row;
    margin: auto;
    /* gap: 10%; */
}

.statsCol {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.box {
    padding: 3% 5%;
    margin: 0.75%;
    background-color: #F5E9E9;
}

.quote {
    margin: 5px;
    padding: 20px;
    background-color: #e4d1d1;
}

/* #sidebar {
    max-height: 200px;
    width: 150px;
    align-items: center;
} */

/* ROW 1 */
#icon {
    display: flex;
    max-height: 250px;
    width: 300px;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#stats {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 250px;
    width: 500px;
}

/* ROW 2 */
#description {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 500px;
    width: 800px;
}

#trivia {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 350px;
    width: 200px;
}

#moreInfo {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 350px;
    width: 600px;
}

/*  ROW 3 */
#relations {
    overflow-y: scroll;
    overflow-x: hidden;

    max-height: 350px;
    width: 800px;
}

#gallery {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 200px;
    width: 800px;
}


.boxHeader {

    padding: 2px;
    justify-content: center;
    font-family: Times, Times, Times New Roman, serif;

    font-size: 25px;
    letter-spacing: 3px;
    font-weight: bold;
    text-transform: lowercase;

    color: #775922;
}

boxSemiHeader {
    font-family: Times, Times, Times New Roman, serif;
    font-size: 15px;
    letter-spacing: 3px;

    font-weight: bold;
    text-transform: lowercase;

    color: #966c1f;
}

statStyle {
    font-family: Times, Times, Times New Roman, serif;
    font-weight: bold;
}

/* #pagedoll{
} */